@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --midnightGreen: #084c61;
  --jasper: #db504a;
  --saffron: #e3b505;
  --payneGray: #4f6d7a;
  --verdigris: #56a3a6;
  --white: #f2f2f2;
  /* sanji */
  --yellow: #feff00;
  --black: #000000;
  --gray: #dfdfdf;
  --orange: #ffa600;
  --red: #ea462a;
  /* mustard */
  --cosmosChoc: #6a041d;
  --xanthous: #f5b841;
  --icterine: #f4ff52;
  /* colors */
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--white);
  background: var(--black);
  min-height: 100vh;
  height: 100%;
}
